# Ignore compiled Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
automation-engine

# Ignore local localDatabase cache files and folder data mounts
*.db
*.db-journal
database/
downloads/
logs/

# Ignore local environment override configurations
.env
